body {
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif
}
#header {
  margin: 10px auto;
  max-width: 800px;
}

#canvas-main {
  display: block;
  margin: 10px auto;
  border: 1px solid #444;
}